body,html,a,img,div,ul,li,ol,span,section,video,h1,h2,h3{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	list-style: none;
	line-height: 1.8;
}
body,html{
	background: #f2f2f2;
}
a,a:hover,a:active,a:fofus,a:visited{
	text-decoration: none!important;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
footer a{
	color: #fff!important;
}
footer a:hover{
	opacity: .8;
}
#four>h3,#six>h3,.dw-one>h3,.wrap-mv>h3{
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 2px;
	position: relative;
	z-index: 10;
}
.dw-one>ul,.wrap-mv>ul{
	margin: 30px 0;
	display: flex;
	width: 100%;
    flex-flow: row wrap;
    align-content: flex-start;
}
.dw-one>ul>li,.wrap-mv>ul>li{
	flex: 0 0 33.333%;
}
#header{
	height: 80px;
	color: #fff;
	position: relative;
	overflow: hidden;
}
.wrap-top{
	padding: 0 2%;
	/*background: #3e4666;*/
	position: relative;
	z-index: 99;
	width: 100%;
	height: 100%;
	/*opacity: 0.8;*/
}
.cover-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	background: #000;
	/*background: url(../imgs/public/2.jpg) center;*/
	/*background-size: auto 160px;
	background-repeat: repeat-x;
	moz-animation: bg 60s linear infinite;
    -webkit-animation: bg 60s linear infinite;
    -o-animation: bg 60s linear infinite;
    -ms-animation: bg 60s linear infinite;
    animation: bg 60s linear infinite;
    -moz-backface-visibility: hidden;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
}
.wrap-logo{
	width: 40%;
	float: left;
	position: relative;
	height: 80px;
}
.wrap-logo img{
	width: 80px;
}
.wrap-logo>a{
	padding-right: 6px;
}
.wrap-logo span{
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	letter-spacing: 1px;
	font-family: "黑体"
}
.wrap-nav{
	float: right;
	width: 20%;
	margin-right: 1%;
}
.wrap-nav>ul{
	display: table;
	width: 100%;

}
.wrap-nav>ul>li{
	display: table-cell;
}
.wrap-nav>ul>li>a{
	display: block;
	width: 54px;
	height: 54px;
	box-shadow: 0 0 4px #f44336;
	margin-top: 14px;
	border: 1px solid #fff;
	text-align: center;
	letter-spacing: 1px;
	transform: rotate(-45deg);
	overflow: hidden;
}
.wrap-nav>ul>li>a:hover{
	background: #d9ba8c;
}
.wrap-nav>ul>li>a>span{
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto;
	position: relative;
	left: 2px;
	top: 10px;
	transform: rotate(45deg);
	color:#fff;
	letter-spacing: 4px;
}
/*one start*/
#one{
	position: relative;
	/*top: -4px;*/
}
#one video{
	display: block;
	width: 100%;
	/*position: relative;*/
	/*top: 4px;*/
}
.wrap-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.wrap-content .left{
	width: 25%;
	height: 100%;
	background: rgba(0,0,0,.6);
}
.wrap-content .left ul{
	width: 86%;
	height: 100%;
	margin:0 auto;
	padding: 3% 0 1% 0;
	box-sizing:border-box;
}
.wrap-content .left ul>li{
	text-align: left;
	height: 16%;
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 0 4%;
}
.wrap-content .left ul>li>a{
	position: absolute;
	top: 50%;
	margin-top: -9px;
	width: 100%;
	color: #fff;
	font-size: 16px;
	letter-spacing: .1em;
	text-align: center;
}
.wrap-content .left ul>li>a>img{
	position: relative;
	top: 4px;
	width: 20px; 
	margin-left: 10px;
}
.wrap-content .left ul>li:nth-of-type(1){
	border-top: 1px solid #ccc;
}
.wrap-download{
	position: absolute;
	top: 50%;
	right: 0;
	width: 70%;
	height: 350px;
	margin: 0 auto;
	margin-top: -175px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
}
.wrap-download h2{
	font-weight: normal;
	font-family: "楷体";
	text-shadow: 2px 2px 0 #b011cd;
	font-size: 30px;
}
#two{
	width: 100%;
	padding: 20px 4%;
	min-height: 520px;
    background: #fff;
    box-sizing:border-box;
}
#two .left{
	width: 40%;
	height: 480px;
}
.img-wrap{
	position: relative;
	width: 100%;
	height: 100%;
}
.img-wrap>img{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#two .right{
	width: 60%;
	height: 480px;
	text-align: center;
	letter-spacing: 1px;
	color: #2b2b2b;
	padding-top: 20px;
}
#two .right h3{
	font-size: 20px;
	font-weight: normal;
	color: #444;
}
#two .right>.wrap-p{
	padding: 0 20px;
	line-height: 1.8;
	text-indent: 30px;
	text-align: left;
}
#two .right>.wrap-p a{
	color: blue;
}
#two .right>.wrap-p a:hover{
	opacity: .5;
}
#three{
	width: 100%;
	height: 400px;
    background: url(../imgs/boad-1.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}
.third-bg{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}
.third-contain{
	position: relative;
	z-index: 3;
	padding-top: 60px;
}
.third-contain h3{
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	padding-bottom: 30px;
}
.third-info{
	display: table;
	width: 90%;
	margin: 0 auto;
}
.third-info .person{
	display: table-cell;
	padding:10px;
	min-height: 200px;
}
.third-info .person img{
	width: 100%;
}
.third-info .person p{
	background: #fff;
	color: #2b2b2b;
	padding: 0;
	margin: 0;
	line-height: 1.8;
}
.per-img{
	background: #fff;
}
/*four start*/
#four{
	height: 400px;
	padding: 50px 0;
	overflow: hidden;
	background: #f3f8f9;
}
.wrap-go{
	width: 100%;
	margin-top: 80px;
	display: table;
}
.four-go{
	display: table-cell;
	
}
.circle{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: red;
	border-radius: 50%;
	position: relative;
	background-size: cover;
	box-shadow: 0 10px 15px rgba(0,0,0,.3);
}
.four-go:nth-of-type(1) .circle{
	background: url(../imgs/yiliuyi.jpg) no-repeat center;	
	background-size: 100% auto;
}
.four-go:nth-of-type(2) .circle{
	background: url(../imgs/jiudaishi.jpg) no-repeat center;
	background-size: 100% auto;	
}
.four-go:nth-of-type(3) .circle{
	background: url(../imgs/3_boad.jpg) no-repeat center;	
	background-size: 100% auto;
}
.four-go:nth-of-type(4) .circle{
	background: url(../imgs/shijiancheng.jpg) no-repeat center;	
	background-size: 100% auto;
}
.four-go:nth-of-type(even){
	position: relative;
	top: 50px;
}
.circle:after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 100%;
	width: 140px;
	height: 64px;
	background: url(../imgs/one-line.png) no-repeat;
}
.four-go:nth-of-type(2) .circle:after{
	transform: rotate(135deg);
	top: 20%;
}
.four-go:nth-of-type(4) .circle:after{
	background: none;
	width: 0;
}
.list ul{
	margin-top: 20px;
}

.list ul>li{
	position: relative;
	left: 20%;
	color: #3d3d3d;
	letter-spacing: 2px;
	line-height: 1.6;
}
.list ul>li:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -30px;
	width: 6px;
	height: 6px;
	border: 4px solid #d47d8e;
	border-radius: 50%;
}
/*five start*/
#five{
	min-height: 400px;
	text-align: center;
	padding-top: 60px;
	background: #333;
}
#five h3{
	line-height: 4;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 2px;
}
.wrap-friend{
	display: flex;
	width: 100%;
    /*background-color: red;*/
    flex-flow: row wrap;
    align-content: flex-start;
}
.fr-img{
	width: 100%;
}
.fr-img>img{
	display: block;
	width: 100%;
}
.friend{
	flex: 0 0 33.333%;
	position: relative;
}
.wrap-txt{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e9c499;
	color: #fff;
	opacity: .9;
	display: none;
}
.friend:hover .wrap-txt{
	display: block;
}
.wrap-txt h4{
	font-size: 18px;
	margin: 6% 0 2%;
	font-weight: 200;
}
/*six start*/
#six{
	background: #f3f8f9;
	padding: 50px 0;
}
.music{
	margin-top: 30px;
}
.music>ul{
	width: 80%;
	margin: 0 auto;
	display: table;
	position: relative;
	padding-bottom: 30px;
}
.music>ul:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 4%;
	left: 0;
	right: 0;
	margin: auto;
	background: #ccc;
	height: 1px;
	width: 70%;
}
.music>ul>li{
	display: table-cell;
	text-align: center;
}
.wrap-con{
	width: 100%;
	padding: 15%;
	box-sizing:border-box;
}
/*.music>ul>li>a{
	display: block;
	
	height: 100%;
}*/
.music>ul>li p{
	color: #4d4d4d;
}
.music-img{
	position: relative;
}
.start-link{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 40px;
	height: 40px;
}
.music-img>img{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 50%;
	overflow: hidden;
}
.wrap-music{
	display: table;
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
}
.wrap-music>.item{
	display: table-cell;
	text-align: center;
}
.item-img{
	width: 100%;
	position: relative;
}
.item-con{
	margin: 10%;
}
.item-img>img{
	display: block;
	width: 100%;
	height: auto;
}
/*footer start*/
footer{
	width: 100%;
	height: 500px;
}
footer .left{
	letter-spacing: 2px;
	width: 35%;
	height: 500px;
	background: #e9c499;
	color: #fff;
	padding: 30px 40px;
	box-sizing:border-box;
}
footer .right{
	width: 65%;
	height: 500px;
	background: url(../imgs/boad.jpg) no-repeat center;
	position: relative;
	color: #fff;
}
.footer-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #3e4666;
	opacity: .6;
}
.link-wrap{
	position: relative;
	z-index: 4;
	width: 70%;
	margin: 40px auto;
}
/*download start*/
.dw-one{
	margin: 50px 20px 30px 20px;
}
.dw-one>ul{
	margin: 30px 0;
}
.wrap-exe{
	padding: 10px;
}
.wrap-img{
	position: relative;
	width: 100%;
}
.wrap-img>img{
	display: block;
	width: 100%;
	height: auto;
}
.exe-dw{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #3e4666;
	opacity: .5;
	color: #fff;
	z-index: 1;
}
.exe-dw>p,.wrap-txt>h4{
	font-size: 24px;
    font-weight: 200;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 30px;
    box-sizing:border-box; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    transition: .5s;
}
.exe-dw>a,.wrap-txt>p{
	position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
    padding: 14px 25px;
    border:2px solid #fff;
    color: #fff; 
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.exe-dw:hover{
	background: #4fc0aa;
	opacity: .8;
	transition: .5s;
}
.exe-dw:hover p{
	top: 36%;
	transition: .5s;
}
.exe-dw:hover a,.friend:hover .wrap-txt>p{
	top: 54%;
	opacity: 1;
	transition: .5s;
}
.dw-two{
	background: url(../imgs/boad-1.jpg) no-repeat center;
	background-attachment: fixed;
	position: relative;
}
.wrap-mv{
	color: #fff;
	padding: 40px 2%;
	position: relative;
	z-index: 10;
}
.dw-cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #3e4666;
	opacity: .6;
}
.dw-two>ul>li{

	/*padding:0 10px;*/
}
.wrap-video{
	width: 96%;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #ddd;
	position: relative;
}
.wrap-video video{
	display: block;
	width: 100%;
}
.videoBg{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	/*height: 100%;*/
	/*background: #fff;
	opacity: .5;*/
}
.videoBg>a{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #4fc0aa;
	display: none;
}
.wrap-video:hover .videoBg>a{
	display: block;
}
/*contact start*/
.ab-main{
	/*position: relative;*/
	margin-top: 82px;
	margin-bottom: 150px;
}
.wrap-ab{
	width: 60%;
	margin: 0 auto;
	min-height: 300px;
	background: #fff;
	/*box-shadow: 0 0 4px #ddd;*/
	position: relative;
	padding: 20px;
	box-sizing:border-box;
}
.ab-title{
	padding: 20px 0;
}
.ab-title>h3{
	font-size: 30px;
    color: #333;
    font-weight: normal;
    letter-spacing: .1em;
}
.ab-info{
	position: relative;
}
.ab-info>.info-text{
	width: 100%;
}
#aside{
	position: absolute;
	top: 30px;
	right: -140px;
}
#aside>a{
	display: block;
	width: 60px;
	height: 60px;
	background: #fff;
	margin: 20px;
	position: relative;
}
#aside>a>img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}





@keyframes bg{
	0% {
	    -moz-transform: translate3d(0,0,0);
	    -webkit-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
	100% {
	    -moz-transform: translate3d(-1200px,0,0);
	    -webkit-transform: translate3d(-1200px,0,0);
	    -o-transform: translate3d(-1200px,0,0);
	    -ms-transform: translate3d(-1200px,0,0);
	    transform: translate3d(-1200px,0,0);
	}
}
/*@media screen and (max-width: 600px)*/
@media screen and (max-width: 600px){
	*{
		font-size: .9em;
	}
	.wrap-logo span{
		font-size: .8em;
		margin-top: -2em;
	}
	.wrap-nav {
	    float: right;
	    width: 52%;
	    margin-right: 1%;
	}
	#one{
		background: url(../imgs/boad-1.jpg) no-repeat center;
		background-size: auto 100%;
		height: 400px;
	}
	#one video{
		display: none;
	}
	.wrap-content .left{
		width: 40%;
	}
	.wrap-content .right{
		width: 60%;
	}
	.wrap-content .left ul>li>a{
		top: 30%;
		font-size: .9em;
	}
	.wrap-download h2{
	    font-size: 1em;
	}
	.wrap-download h2+p>a>img{
		width: 40%;
	}
	.wrap-download{
		top: 60%;
	}
	#two .left,#two .right{
		width: 100%;
		float: none;
		height: auto;
	}
	#three,#four{
		height: auto;
		padding-bottom: 30px;
	}
	.img-wrap>img{
		position: relative;
	}
	.third-info .person{
		display: block;
	}
	.circle:after{
		display: none;
	}
	.four-go{
		float: left;
		width: 100%;
	}
	.list ul>li{
		font-size: .8em;
	}
	.four-go:nth-of-type(even){
		top: 0;
	}
	#five{
		padding-top: 0;
		min-height: auto;
	}
	.exe-dw>p, .wrap-txt>h4{
		font-size: 1.1em;
	}
	footer{
		height: 300px;
		overflow: hidden;
	}
	footer .left,footer .right{
		height: auto;
		height: 100%;
	}
	.dw-one>ul>li, .wrap-mv>ul>li{
	    flex: 0 0 100%;
	}
	.wrap-video{
		margin: 10px auto;
	}
	#aside {
	    position: absolute;
	    top: 100%;
	    left: -10px;
	    width: 100%;
    }
    .wrap-ab{
    	width: 80%;
    }
    #aside>a{
    	float: left;
    	width: 52px;
    	height: 52px;
    	margin: 10px;
    }
}